---
---
@charset "utf-8";

@import "variables";
@import "navbar";
@import "jumbotron";
@import "section";

body {
  font-family: $bodyFont;
}

.hack {
  font-family: $hackFont;
}

a.btn-default {
  color: $white;
  background-color: $highlightColor;
  border-color: transparent;
  &:hover {
    background-color: $gray;
    color: $darkgray;
  }
}