---
---
@charset "utf-8";

@import "variables";
@import "mixins";

body {
  font-family: $bodyFont;
}

.jumbotron {
  background: url('../assets/hero.jpg') no-repeat top left;
  color: $white;
  font-family: $hackFont;
  font-size: 1.5em;
  margin-bottom: 0;
  padding-bottom: #{$spacer * 2};

  @media #{$screen-md} {
    padding-top: #{$spacer * 3};
  }

  img.logo {
    width: 96px;
    @media #{$screen-md} {
      width: 120px;
    }

    &:first-of-type {
      margin-bottom: 10px;
    }
  }

  h2 {
    margin-top: $spacer;
  }

  ul {
    @include resetList();
    padding-left: #{$spacer * 1.5};

    li {
      &:before {
        content: "> ";
      }
    }
  }

  a.btn {
    color: $white;
    background-color: $highlightColor;
    font-family: sans-serif;
    margin-bottom: $spacer;
    &:hover {
      background-color: $gray;
      color: $darkgray;
    }
  }

  h1, h2, li {
    font-weight: bold;
  }
}

.row.header {
  background-color: $sectionHeaderColor;
  color: $white;
  font-family: $hackFont;
  font-weight: bold;
  padding: #{$spacer / 2} 0;
  height: #{$spacer * 3};

  i {
    @include largeIcon();
    width: 100%;
  }

  h2 {
    width: 100%;
    margin: 0;
  }

  &:first-of-type,
  &.data {
    margin-top: 0;
  }

  &.contest{
    margin-bottom: 0;
  }
}

.row.section {
  padding: $sectionSpacer 0;
}

p.sub {
  margin-bottom: #{$spacer * 2};
}

#agenda {
  margin: $spacer 0;
  i {
    @include smallIcon();
  }
}

ul.prepare {
  @include resetList();

  > li {
    display: block;
    margin-bottom: $spacer;

    > div {
      @include centerIconText();
      > i {
        @include mediumIcon(#{$spacer / 2 });
      }
    }
  }
}

div.section.tracks {
  background-color: $darkgray;
  color: $white;
}
