<h1>About: us</h1>

<p><strong>{% include htb.html %}</strong> is a collaborative effort between the City of Santa Monica, Santa Monica Chamber of Commerce, and our partners from the local technology and business sectors. Our talented team of individuals are passionate about technology, and downright fervent about making an impact in our community. </p>

<p><strong>{% include htb.html %}</strong> is proud to be <em>the</em> unifying movement for this talented crop of technology professionals.</p>
