<div class="row align-items-center text-center partners">
  {% for partner in site.data.partners limit:2 %}
  <div class="col-sm-6 partner">
    {% assign logo = partner.logo %}
    {% if logo | split: '' | first == "/" %}
      {% assign logo = logo | prepend: site.baseurl %}
    {% endif %}
    <a href="{{ partner.url }}" target="_blank">
      <img alt="{{ partner.name }}" src="{{ logo }}" />
    </a>
  </div>
  {% endfor %}
</div>

<hr>

<div class="row align-items-center text-center partners">
  {% for partner in site.data.partners offset:2 %}
  <div class="col-sm-6 col-md-4 my-3 partner">
    {% assign logo = partner.logo %}
    {% if logo | split: '' | first == "/" %}
      {% assign logo = logo | prepend: site.baseurl %}
    {% endif %}
    <a href="{{ partner.url }}" target="_blank">
      <img alt="{{ partner.name }}" src="{{ logo }}" />
    </a>
  </div>
  {% endfor %}
</div>
