<p class="lead">
Your application submission should be an 8 slide deck, addressing the sections below. See our <a href="https://docs.google.com/presentation/d/10EBe7trf8gu1bSsqxuCC3R4B7oMnE58FGaL0kZ3xgCw/edit?usp=sharing" target="_blank">sample template</a> for an example.
</p>

<h2>Slide 1: Cover</h2>
<p>Your Project's Name and your Team's Name</p>

<h2>Slide 2: Team Overview</h2>
<p>List your team members</p>
<ul>
  <li>Names</li>
  <li>Roles</li>
  <li>Responsibilities</li>
</ul>

<p>Summarize your qualifications</p>
<ul>
  <li>Education</li>
  <li>Professional Experience</li>
</ul>

<p>Identify a (Single) Primary Contact</p>
<ul>
  <li>Name</li>
  <li>Email</li>
</ul>

<h2>Slide 3: Project Overview</h2>
<ul>
  <li>Description</li>
  <li>Intended users/demographic</li>
  <li>Benefits</li>
  <li>Strategic initiative served (community, mobility, civic engagement)
    <ul>
      <li>Specify which initiative(s) is/are served, and how.</li>
    </ul>
  </li>
</ul>

<h2>Slide 4: Technology Elements</h2>
<ul>
  <li>How is technology incorporated in your product?</li>
  <li>What technologies will be used by you?</li>
  <li>What technologies will be used by consumers of your product?</li>
</ul>
<p>Note that technology doesn’t have to be at the core of your product. For example, you may create a marketing plan which utilizes technology in the form of social media for pushing messages. 
</p>

<h2>Slide 5: Visual Elements</h2>
<ul>
  <li>Branding</li>
  <li>Wireframe</li>
  <li>Prototype</li>
</ul>

<h2>Slide 6: Value</h2>
<p>List the value propositions for your product. Who will use it, and why?</p>

<h2>Slide 7: Viability</h2>
<p>How long will it take to build your product?</p>
<ul>
  <li>List milestones along with dates</li>
</ul>
<p>How much will it cost to build your product?</p>
<ul>
  <li>List funding sources</li>
</ul>

<h2>Slide 8: Growth</h2>
<p>How will your product grow over time?</p>