{% assign submit = "mailto:contest@hackthebeach.com?subject=Application Submission" %}

<h1>Applications Are Due October 30, 2015</h1>

<p>See below for a detailed overview of the information we are looking for with your submission.
<br />
Please submit your application via email to <a href="{{ submit }}">contest@hackthebeach.com</a></p>

<div class="row">
  <div class="col-sm-4">
  {% include templates/button.html text="OUR SAMPLE" href="https://docs.google.com/presentation/d/10EBe7trf8gu1bSsqxuCC3R4B7oMnE58FGaL0kZ3xgCw/edit?usp=sharing" target="_blank" icon="circle-arrow-right" %}
  </div>
  <div class="col-sm-4">
    {% include templates/button.html text="SUBMIT YOURS" href=submit icon="circle-arrow-right" %}
  </div>
  <div class="col-sm-4">
  {% include templates/button.html text="TEAM MATCHMAKER" href="https://docs.google.com/a/hackthebeach.com/forms/d/1-juW7_pCly24M-kwTk1RSTOqlro1DSgJv4230VODiLw/viewform" target="_blank" icon="circle-arrow-right" %}
  </div>
</div>