{% assign submit = "mailto:contest@hackthebeach.com?subject=Application Submission" %}

<h1>Applications Are Due October 30, 2015</h1>

<p>See below for a detailed overview of the information we are looking for with your submission.
<br />
Please submit your application via an email sent to <a href="{{ submit }}">contest@hackthebeach.com</a></p>

<div class="clearfix">
  <div class="left">
  {% include templates/button.html text="CHECK OUT OUR SAMPLE" href="https://docs.google.com/presentation/d/10EBe7trf8gu1bSsqxuCC3R4B7oMnE58FGaL0kZ3xgCw/edit?usp=sharing" target="_blank" icon="circle-arrow-right" %}
  </div>
  <div class="right">
    {% include templates/button.html text="SUBMIT YOUR APPLICATION" href=submit icon="circle-arrow-right" %}
  </div>
</div>