{% if include.href %}
  {% assign href = include.href %}
{% else %}
  {% assign href = "#" %}
{% endif %}

{% if include.target %}
  {% assign target = include.target %}
{% else %}
  {% assign target = "_self" %}
{% endif %}

{% if include.class %}
  {% assign class = include.class | prepend: "btn " %}
{% else %}
  {% assign class = "btn btn-default btn-lg" %}
{% endif %}

{% if include.icon %}
  {% assign pos = "right" %}
  {% if include.icon-left %}
    {% assign pos = "left" %}
  {% endif %}
{% endif %}

<a href="{{ href }}"
   target="{{ target }}"
   class="{{ class }}">
  {% if pos == "left" %}
  {% include templates/icon.html icon=include.icon fixed=true %}
  {% endif %}
  {{ include.text }}
  {% if pos == "right" %}
  {% include templates/icon.html icon=include.icon fixed=true %}
  {% endif %}
</a>

{% assign href = null %}
{% assign target = null %}
{% assign local = null %}
{% assign class = null %}
{% assign icon = null %}
{% assign pos = null %}