{% if include.href %}
  {% assign href = include.href %}
{% else %}
  {% assign href = "#" %}
{% endif %}

{% if include.target %}
  {% assign target = include.target %}
{% else %}
  {% assign target = "_self" %}
{% endif %}

{% if include.class %}
  {% assign class = include.class | prepend: "btn " %}
{% else %}
  {% assign class = "btn btn-default btn-lg" %}
{% endif %}

<a href="{{ href }}"
   target="{{ target }}"
   class="{{ class }}">
  {{ include.text }} {% if include.icon %}{% include templates/icon.html icon=include.icon fixed=true %}{% endif %}
</a>

{% assign href = null %}
{% assign target = null %}
{% assign local = null %}
{% assign class = null %}
{% assign icon = null %}
