<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading{{ include.index }}">
    <h2 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#{{ include.parent }}" href="#collapse{{ include.index }}" aria-expanded="false" aria-controls="collapse{{ include.index }}">
          {{ include.question }}
      </a>
    </h2>
  </div>
  <div id="collapse{{ include.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ include.index }}">
    <div class="panel-body">
        {{ include.answer }}
    </div>
  </div>
</div>