<h2>Contest Overview</h2>
<p>You are free to build an application of your choosing to address any one of the following mobility related challenges within Santa Monica:</p>
<ul>
  <li>Create a Trip Planner for bus riders using BBB and Metro schedule and real time data.</li>
  <li>Create a parking spot locator web application to identify available parking.</li>
  <li>Create a bike and/or walking map to move around Santa Monica.</li>
  <li>Create a platform to update and maintain the City's outdated street sign inventory.</li>
  <li>Use City and private data sources to create a comprehensive multi-modal transportation options around Downtown, Main St, the Beach, and the Pier.</li>
  <li>Create a platform to update and maintain the City’s bicycle parking locations.</li>
</ul>

{% include submissionGuidelines.html %}