<h2 class="section">Contest Overview</h2>

<div class="container">
  <p>Build a service or application to address a mobility-related challenge in Santa Monica. Some ideas include:</p>
  <ul>
    <li>A trip planner for bus riders using BBB and Metro schedule and real time data.</li>
    <li>A parking spot locator to identify available parking.</li>
    <li>A bike and/or walking map to move around Santa Monica.</li>
    <li>A comprehensive multi-modal transportation app using City and private data sources.</li>
    <li>A platform to update and maintain the City's outdated street sign inventory.</li>
    <li>A platform to update and maintain the City’s bicycle parking locations.</li>
  </ul>

  {% include submissionGuidelines.html %}
</div>
