<p>Something missing? Have a question? Let us know! <a href="#disqus_thread">Discuss below</a> or <a href="mailto:data@smgov.net">drop us a line</a>.</p>

<div clas="row data-sources">
{% for source in site.data.sources %}
  <div class="col-md-4">
    <h3>
      <i class="fi fi-fw {{ source.icon }}"></i>
      <span>
        {% if source.url %}
        <a href="{{ source.url }}" target="_blank">{{ source.name }}</a>
        {% else %}
        {{ source.name }}
        {% endif %}
      </span>
    </h3>
    <p>
      {{ source.description }}
    </p>
  </div>
{% endfor %}
</div>
