<div class="row">
  <div class="col-md-6">
    <a href="http://hackforchange.org/" target="_blank"><img class="ndoch" alt="National Day of Civic Hacking" src="../assets/ndochlogo.png" /></a>
    <h2 class="sr-only">June 6, 2015: National Day of Civic Hacking</h2>
    <p>The City of Santa Monica, in partnership with the Santa Monica Chamber of Commerce, hosted a meetup at the Santa Monica Public Library for the 2015 <a href="http://hackforchange.org/" target="_blank">National Day of Civic Hacking</a></p>
    <p>We announced the public release of <a href="http://gtfs.bigbluebus.com" target="_blank">GTFS Real Time</a> and our real-time <a href="https://parking.api.smgov.net" target="_blank">Parking Data API</a></p>
  </div>
  <div class="col-md-6">
    <h2>What's Next?</h2>
    <p>We've started to formulate a plan, but we'd love your feedback. Take this <a href="" target="_blank">short survey</a> to give us your ideas and comment on ours, so we can make the next event a success together.</p>
  </div>
</div>
