<h2 class="section">Event Overview</h2>

<div class="container">
  <p>Join fellow developers, designers, big thinkers, neighbors, coworkers, and City staffers as we come together to find creative solutions to address mobility in Santa Monica.
  <p>We will provide the data, APIs, Wi-Fi, food and drink, and subject matter experts to help you refine your ideas.</p>
  <p>You bring your A game and build awesome mobility related applications.</p>

  <div class="row">
    <div class="col-md-12">
    {% include event/agenda.html %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      {% include event/where.html %}
    </div>
    <div class="col-md-4">
      {% include event/who.html %}
    </div>
  </div>
</div>
