<div class="jumbotron">
  <div class="container">
    <h1>Hey Santa Monica, it's Time to Innovate</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus, mi sit amet molestie porttitor, ex felis congue elit, at suscipit est neque ac ligula. Vivamus porttitor, ipsum id porttitor placerat, elit lectus semper justo, eu hendrerit lacus arcu quis enim. Mauris mattis congue tellus quis imperdiet. Aliquam viverra nunc a diam hendrerit, a rutrum nisi malesuada. <a href="/innovatesm">More</a></p>
  </div>
</div>
