<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <img src="assets/citylogo.png" alt="City of Santa Monica logo" class="logo" />
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-12">
            <h1>{Hack the Beach}</h1>
            <h2>Open Data, Open Source, and Civic Tech in Santa Monica</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <a class="btn btn-lg" target="_blank" href="http://www.eventbrite.com/e/city-of-santa-monica-presents-hack-the-beach-tech-tackles-traffic-tickets-16847693906">June 6th Follow-Up Survey</a>
            <a class="btn btn-lg" href="https://groups.google.com/forum/#!forum/hack-the-beach" target="_blank">Talk About It</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
