<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img src="citylogo.png" alt="City of Santa Monica logo" />
        <h1>[Hack the Beach]</h1>
        <h2>Tech Tackles Traffic</h2>
        <ul>
          <li>June 5 to June 7</li>
          <li><a href="https://goo.gl/maps/3Hr9R" target="_blank">Santa Monica Main Library</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        {% include nav.html %}
      </div>
    </div>
  </div>
</div>