<div class="row">
  <div class="col-md-12">
    <p class="lead">The City of Santa Monica, in partnership with the Santa Monica Chamber of Commerce, will participate in the nationwide National Day of Civic Hacking on June 6, 2015 by hosting a meetup at the Santa Monica Public Library.</p>
    <p>You are invited to join us as we make available new real-time data for Big Blue Bus scheduling (GTFS-rt), real-time on-street and lot parking, Fire Department Calls for Service, and citywide water usage data. During the meetup, you will be provided with the opportunity to learn about all aspects of the City’s open data program, including providing input to help shape future events.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h2>The Agenda</h2>
    {% include overview/agenda.html %}
  </div>
  <div class="col-md-4">
    <h2>Where?</h2>
    <img class="library" src="assets/librarylogo.png" alt="Santa Monica Public Library logo" />
    <address>
      <div class="media">
        <div class="media-left">
          <i class="fa fa-map-marker"></i>
        </div>
        <div class="media-body">
          <strong class="media-heading">Santa Monica Public Library</strong>
          <br>
          <a href="https://goo.gl/maps/ACLcZ" target="_blank">601 Santa Monica Blvd <br />Santa Monica, CA 90401</a>
        </div>
      </div>
    </address>

    <p>The Santa Monica Public Library is served directly by <a href="http://www.bigbluebus.com" target="_blank">BBB</a> lines 7 and 10. Stops on BBB lines 1, 2, 3, 8, and 9 are a short walk away.</p>

    <h2>We'll Provide</h2>
    <ul class="prepare">
      {% for item in site.data.prepare.us %}
      <li>
        <div>
          <i class="fa fa-fw {{ item.icon }}"></i> <span>{{ item.text }}</span>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
