<h2 class="section">Overview</h2>

<div class="container">
  <p class="lead"><i class="fa fa-lightbulb-o"></i> We're a small sized city solving big city challenges. Come play in our sandbox.</p>
  <p>Let's work together to find creative solutions that will help improve Santa Monica's circulation and mobility.</p>

  <div class="row">
    <div class="col-md-12">
      <p>Santa Monica is only 8 square miles. Solve mobility here, then scale up and <em>take on the world</em>.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
    {% include overview/agenda.html %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3307.0911724291336!2d-118.49480512170301!3d34.015870604448594!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdda2829bcd4b123a!2sSanta+Monica+Public+Library!5e0!3m2!1sen!2sus!4v1430844764242" height="400" width="100%" frameborder="0" style="border:0"></iframe>
    </div>
    <div class="col-md-4">
      <address>
      <i class="fa fa-map-marker"></i>
      <strong>Santa Monica Public Library</strong>
      601 Santa Monica Blvd. Santa Monica, CA 90401
    </address>
    <p>The Santa Monica Public Library is served directly by <a href="http://www.bigbluebus.com" target="_blank">BBB</a> lines 7 and 10. Stops on BBB lines 1, 2, 3, 8, and 9 are a short walk away.</p>
    </div>
  </div>

  {% include overview/prepare.html %}
</div>
