<div class="row">
  <div class="col-md-4">
    <h2><i class="fi fi-lab"></i> What</h2>
    <p>Hack the Beach is an effort by the City of Santa Monica to bring together civic-minded technologists interested in solving real-world challenges.</p>
    <p>Our areas of focus will be around open data, open source software, government transparency, and citizen engagement.</p>
    <p>We welcome your bright ideas, your eye for creative and intuitive solutions, and your coding craftsmanship.</p>
  </div>
  <div class="col-md-4">
    <h2><i class="fi fi-bulb"></i> Why</h2>
    <p>This is an unprecedented time for civic engagement. Governments are opening their data and internal processes, creating new avenues for collaborative problem solving.</p>
    <p>From startups to well-established firms, Silicon Beach is booming. A rich talent pool coupled with a city government at the forefront of civic tech puts us in a unique position for innovative success.</p>
    <p>The City of Santa Monica is proud to continue our tradition of partnership building. We invite you to join our civic tech community as we work together to make a positive impact on our city.</p>
  </div>
  <div class="col-md-4">
    <h2><i class="fi fi-calendar"></i> When</h2>
    <p>Planning for the next Hack the Beach event is currently underway. Keep abreast of what we’re up to and join the discussion on our <a href="https://groups.google.com/forum/#!forum/hack-the-beach" target="_blank">Google Group</a>.</p>
    <p>Help shape the next event by taking a <a href="" target="_blank">short survey</a></p>
    <p>You may also reach out to us directly at <a href="mailto:data@smgov.net">data@smgov.net</a>.</p>
  </div>
</div>
