<div class="row">
  <div class="col-md-6">
    <h2>Big Blue Bus</h2>
    <p class="lead">Learn more about bus scheduling using the GTFS and GTFS-RT data standards.</p>
    <p>Led by <a href="https://github.com/kevinsmgov" target="_blank">Kevin Hobson</a></p>
  </div>
  <div class="col-md-6">
    <h2>Parking</h2>
    <p class="lead">Showcase your skills by building a sample app using real-time or historical parking data.</p>
    <p>Led by <a href="https://github.com/thekaveman" target="_blank">Kegan Maher</a></p>
  </div>
</div>
