<div class="row">
  <div class="col-md-6">
    <h2>Big Blue Bus</h2>
    <p class="lead">Learn more about bus scheduling using the GTFS and GTFS-rt data standards.</p>
    <p>The General Transit Feed Specification (GTFS) is a common standard used by transit agencies to publish transportation schedules. The Big Blue Bus has made static timetables available via GTFS for over a year.</p>
    <p><strong>We are excited to announce the public release of GTFS-rt</strong> for displaying real-time information.</p>
    <p>Come learn more about our GTFS data and how you may use it for your own applications. This track will be a deep dive into transit-oriented data, allowing you to interact and ask questions to those most familiar with the data.
    </p>
  </div>
  <div class="col-md-6">
    <h2>Parking</h2>
    <p class="lead">Showcase your skills by building a sample app using real-time or historical parking data.</p>
    <p>
      Real-time parking information, both for on-street meters and public lots and structures, has consistently been one of our most highly requested datasets. This data has historically been locked behind proprietary systems and Non-Disclosure Agreements.
    </p>
    <p>
      <strong>We are excited to announce the public launch of a new Parking Data API</strong> (and associated documentation!)
    </p>
    <p>
      However, we don't yet have any samples showcasing the new API. This session will be hands-on; bring your laptop and get ready to learn how to use the API, then get creative and build lightweight apps which explore and/or visualize the data.
    </p>
  </div>
</div>
