<h1>We're Here to Help!</h1>

<p>Contact us with your questions, ideas, and comments.</p>

<div class="row">
  <div class="col-lg-4">      
    {% include templates/button.html text="@hackthebeach" href="https://twitter.com/hackthebeach" target="_blank" icon="twitter" icon-left="true" %}
  </div>
  <div class="col-lg-4 text-lg-center">
    {% include templates/button.html text="info@hackthebeach.com" href="mailto:info@hackthebeach.com" icon="mail" icon-left="true" %}
  </div>
  <div class="col-lg-4 text-lg-right">
    {% include templates/button.html text="Disqus feature" href="#disqus_thread" icon="disqus" icon-left="true" %}
  </div>
</div>