<div class="row">
  <div class="col-md-12 text-left">
    <h3>Timeline</h3>
    <p>The application period is open July 6 to September 4, 2017. In addition to accepting applications, we will hold monthly events through the rest of the year. These events are an opportunity to learn more about how your City works, what your colleagues are working on, and network with other professionals in the area. Each event will have a keynote speaker corresponding to one or more of the design challenge areas. Please note that all dates are subject to change.</p>

    <h4>July 6, 2017 – The Contest Kickoff</h4>
    <p>Hackers from all walks of life were on hand as we unveiled attended the Contest Kickoff, hosted by ExpertDojo. We spoke to people from different sectors, different countries, and different interests. The common thread was the group’s mission towards making Santa Monica an even better community than it is today. The picturesque Santa Monica summer evening and the outdoor venue provided just the right environment for networking, exchange of ideas, and learning about what’s new in the Contest for 2017.</p>
    <p><a href="http://www.youtube.com/watch?v=9KVB4f1fPNA&t=16m37s" target="_blank">City Manager Rick Cole gave a spirited keynote speech</a>, inviting the community to help make Santa Monica a beacon of light for the rest of the world to learn from and aspire towards.</p>


    <h4>August 23, 2017 – Inside Edge</h4>
    <p>Meet subject matter experts from each of the design challenge areas. This is your opportunity to gain an inside edge by crafting some or part of your pitch and project to speak to real issues faced by City leaders. Co-hosted by <a href="http://hackforla.org" target="_blank">Hack for LA</a> and featuring a keynote from representatives of <a href="https://www.codeforamerica.org/" target="_blank">Code for America</a>:</p>
    <div class="media">
      <div class="media-left">
        <img class="media-object img-rounded" width="100" height="100" src="{{ site.baseurl }}/assets/neil-khare.png" alt="Neil Khare">
      </div>
      <div class="media-body">
        <h5 class="media-heading"><strong>Neil Khare, Director of Public Partnerships</strong></h5>
        <p>Neil came to Code for America after a career in both government and technology. Previously, Neil worked at AVIA, a healthcare innovation firm, and managed strategic initiatives at Cleversafe, an enterprise data storage firm acquired by IBM. He also served as Deputy Chief of Staff and Policy Director for Cook County Board President Toni Preckwinkle, leading strategic planning and execution across the County's key service areas: public safety & justice, health care, and economic development. He played a critical role in closing budget gaps of over $1 billion at Cook County in a fiscally responsible manner. Neil received both his MBA and BA from Northwestern University.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <img class="media-object img-rounded" width="100" height="100" src="{{ site.baseurl }}/assets/caitlin-docker.jpg" alt="Caitlin Docker">
      </div>
      <div class="media-body">
        <h5 class="media-heading"><strong>Caitlin Docker, Sr. Manager of Partnerships and Growth</strong></h5>
        <p>Caitlin's goal is to close the participation gap in CalFresh state-wide, and she's currently working to bring GetCalFresh to each county in California. Her work focuses on improving the delivery of essential government services by deploying concepts like user research and data-driven decision making. She brings 5+ years experience in coalition building and working with the U.S. federal government to her work. Caitlin earned her bachelor's degree from American University in Washington, D.C.</p>
      </div>
    </div>


    <h4>September 2017 – Pitch Night</h4>
    <p>Every candidate who passes an initial screening will be given a lightning pitch opportunity at this event. Initial screening will filter out any projects which do not address one or more of the design challenges.</p>
    <div class="media">
      <div class="media-left">
        <img class="media-object img-rounded" width="100" src="{{ site.baseurl }}/assets/jonathan-mooney.jpg" alt="Jonathan Mooney">
      </div>
      <div class="media-body">
        <h5 class="media-heading"><strong>Jonathan Mooney, Public Speaker, Author</strong></h5>
        <p>Jonathan is a widely sought after speaker whose work has been featured in The New York Times, The Los Angeles Times, The Chicago Tribune, USA Today, HBO, NPR, ABC News, New York Magazine, The Washington Post, and The Boston Globe. He is currently the chief social impact officer of an early-stage startup based here in Los Angeles called coParenter which is trying to support and empower the 30 million individuals who are coparenting as a result of divorce separation or never being married.</p>
      </div>
    </div>
    <h4>October, 2017 – Finalists Event</h4>
    <p>The finalists for this year’s Hack the Beach: The Contest will be revealed. Each finalists will be given the opportunity to provide a brief presentation about their project. </p>

    <h4>December, 2017 – Final Pitch Night</h4>
    <p>Each Finalist will give their final pitch directly to the judges and the rest of the community. Judges will deliberate to select a winner. Winner will be unveiled the following month at the State of the City Address. </p>

    <h4>January, 2018 – State of the City</h4>
    <p>The winner will be announced and invited on stage at the 2018 State of the City ceremony.</p>

    <hr />

    <h3>Judging</h3>
    <h4>The Basics</h4>
    <ul>
      <li>Your project must provide a solution addressing one or more of this year’s design challenges.</li>
      <li>Your project must be in a state to be implemented no later than March, 2018. Remember, we want real solutions to real problems. </li>
    </ul>
    <p>If your proposal meets these marks, you will automatically be added to the City's list of qualified vendors (i.e. you will be deemed responsive to a process we refer to as Request for Qualified Vendors) and you will have an opportunity to pitch during the September event.

    <h4>Becoming a Finalist and Winner</h4>
    <p>We will use a panel of experts across multiple disciplines to whittle the initial list of applicants down to n no more than 10 finalists. Our Contest judges will conduct a final evaluation of all projects at our December events. Both the panel of experts and the judges will be using the final criteria to rate projects:</p>
    <ul>
      <li><strong>Viability (40%)</strong> Consider cost to develop, return on investment, cost of maintenance, scalability, user adoption and other barriers to success. Hack the Beach is about creating real solutions for real problems; will your solution be viable for your target audience(s)?</li>
      <li><strong>Value (40%)</strong> Great ideas are common, great applications are not. Does this product demonstrate the capacity to go beyond being just a good idea to being a solid product that people will actually use and benefit from?</li>
      <li><strong>Growth (20%)</strong> What is the long-term outlook for the product? Is it a one-off, or an evolving product which can morph, adapt, and provide value over time?</li>
    </ul>

    <hr />

    <h3>What's in it For Me? </h3>
    <p>You mean aside from having a positive impact on your community? Well, we have some prizes if you’re into that sort of thing.</p>
    <ul>

      <li><b>Behind the Scenes Tour of Hyperloop One.</b>Your team will go behind the scenes with one of the most exciting transportation technology innovators. </li>
      <li><b>Workspace from Cross Campus</b>. The winning entry will receive one complimentary year of Resident Membership at Cross Campus (for up to 4 team members) valid at any of their locations: Santa Monica, Downtown LA, Old Pasadena, or South Bay (opening Dec 2017). A Resident Membership will grant you 24/7 access to the shared workspace at all of their locations, access to all member amenities and member only events, unlimited business resources, and conference room credits.</li>
      <li><b>Dinner with City Manager Rick Cole and Mayor Ted Winterer at Rustic Canyon.</b> You will have the unique opportunity to interact with our City Manager and Mayor in an intimate setting.</li>
      <li><b>Growth Hacking at Expert Dojo.</b> Your team will receive a complimentary membership in Expert Dojo's <a href="https://expertdojo.com/growth-hacking/">Growth Hacking</a> program.</li>
      <li><b>Incubator Interview with Hacker Fund</b> Automatic bid to interview for the Hacker Fund Incubator program in January 2018.  Hacker Fund is an incubator for charitable, educational, and scientific projects that drive social change around the world. Members of the incubator receive tax-deductible status, tools to fundraise, and access to a global network of donors and volunteers.</li>
      <li><b>Talent Development at General Assembly.</b>Your team will receive credits for short-form classes and workshops at General Assembly. </li>
      <li>Every application that passes the initial screening will be added to a Request for Qualified Vendors list for the City of Santa Monica. This means that the City now knows who you are, what you do, and has the ability to reach out to you should there be work that you or your company can perform for the City. </li>
      <li>Ongoing promotion of your contributions by the City of Santa Monica, the Santa Monica Chamber of Commerce, and other project partners. </li>
    </ul>
  </div>
</div>
