<div class="row">
  <div class="col-md-12 text-left">
    <h3>Timeline</h3>
    <p>The application period is open July 6 to September 4, 2017. In addition to accepting applications, we will hold monthly events through the rest of the year. These events are an opportunity to learn more about how your City works, what your colleagues are working on, and network with other professionals in the area. Each event will have a keynote speaker corresponding to one or more of the design challenge areas. Please note that all dates are subject to change.</p>

    <h4>July 6, 2017 – The Contest Kickoff</h4>
    <p>Hackers from all walks of life were on hand as we unveiled attended the Contest Kickoff, hosted by ExpertDojo. We spoke to people from different sectors, different countries, and different interests. The common thread was the group’s mission towards making Santa Monica an even better community than it is today. The picturesque Santa Monica summer evening and the outdoor venue provided just the right environment for networking, exchange of ideas, and learning about what’s new in the Contest for 2017.</p>
    <p>City Manager Rick Cole gave a spirited keynote speech, inviting the community to help make Santa Monica a beacon of light for the rest of the world to learn from and aspire towards.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9KVB4f1fPNA" frameborder="0" allowfullscreen></iframe>

    <h4>August 2017 – Inside Edge</h4>
    <p>Meet subject matter experts from each of the design challenge areas. This is your opportunity to gain an inside edge by crafting some or part of your pitch and project to speak to real issues faced by City leaders.</p>

    <h4>September 2017 – Pitch Night</h4>
    <p>Every candidate who passes an initial screening will be given a lightning pitch opportunity at this event. Initial screening will filter out any projects which do not address one or more of the design challenges.</p>

    <h4>October, 2017 – Finalists Event</h4>
    <p>The finalists for this year’s Hack the Beach: The Contest will be revealed. Each finalists will be given the opportunity to provide a brief presentation about their project. </p>

    <h4>December, 2017 – Final Pitch Night</h4>
    <p>Each Finalist will give their final pitch directly to the judges and the rest of the community. Judges will deliberate to select a winner. Winner will be unveiled the following month at the State of the City Address. </p>

    <h4>January, 2018 – State of the City</h4>
    <p>The winner will be announced and invited on stage at the 2018 State of the City ceremony.</p>

    <hr />

    <h3>Judging</h3>
    <h4>The Basics</h4>
    <ul>
      <li>Your project must provide a solution addressing one or more of this year’s design challenges.</li>
      <li>Your project must be in a state to be implemented no later than March, 2018. Remember, we want real solutions to real problems. </li>
    </ul>

    <h4>Becoming a Finalist and Winner</h4>
    <p>We will use a panel of experts across multiple disciplines to whittle the initial list of applicants down to n no more than 10 finalists. Our Contest judges will conduct a final evaluation of all projects at our December events. Both the panel of experts and the judges will be using the final criteria to rate projects:</p>
    <ul>
      <li><strong>Viability (40%)</strong> Consider cost to develop, return on investment, cost of maintenance, scalability, user adoption and other barriers to success. Hack the Beach is about creating real solutions for real problems; will your solution be viable for your target audience(s)?</li>
      <li><strong>Value (40%)</strong> Great ideas are common, great applications are not. Does this product demonstrate the capacity to go beyond being just a good idea to being a solid product that people will actually use and benefit from?</li>
      <li><strong>Growth (20%)</strong> What is the long-term outlook for the product? Is it a one-off, or an evolving product which can morph, adapt, and provide value over time?</li>
    </ul>

    <hr />

    <h3>What's in it For Me?</h3>
    <p>You mean aside from having a positive impact on your community? Well, we have some prizes if you’re into that sort of thing.</p>
    <ul>
      <li>Every application that passes the initial screening will be added to a Request for Qualified Vendors list for the City of Santa Monica. This means that the City now knows who you are, what you do, and has the ability to reach out to you should there be work that you or your company can perform for the City. </li>
      <li>Co-working, learning, and mentoring credits from several of our partners. </li>
      <li>Dinner with City VIPs and local VCs. </li>
      <li>Ongoing promotion of your contributions by the City of Santa Monica, the Santa Monica Chamber of Commerce, and other project partners. </li>
    </ul>
  </div>
</div>
