<div class="row">
  <div class="col-md-12 text-left">
    <p class="lead">City governments have a unique value proposition: Cities have the ability to make decisions and deploy resources in ways that directly impact people’s lives. On all fronts, and in the current political environment, this role has become more important than we have ever known.</p>
    <p><a href="https://wellbeing.smgov.net" target="_blank">Santa Monica’s Wellbeing Index</a>, funded by Bloomberg Philanthropies, is a tool designed to revolutionize local government. It is helping cities use data to make more informed decisions that address real needs and trends in the communities they serve.</p>
    <p>Hack the Beach 2017 is not a one-off hack-a-thon. It’s an opportunity to get in on the ground floor and contribute solutions that have real impact on the world around you. It’s also an opportunity to be part of a unique, emerging partnership between business, government, and people that we hope will evolve into a thriving community of problem solvers and invested citizens.</p>
  </div>
</div>
