.jumbotron {
  background: url('../assets/hero.jpg') no-repeat top left;
  color: $white;
  margin-bottom: 0;
  padding-bottom: 0;
  min-height: 200px;
  
  .content {
    background: rgba(0, 0, 0, 0.5);
    padding: #{$spacer};
    margin-bottom: #{$spacer};
    overflow: hidden;
  }
  
  h1 {
    font-size: 2em;
    font-weight: bold;
  }

  p {
    font-size: 1.2em;

      &:last-child {
        margin-bottom: 0;
      }
  }
  
  .row {
    > div {
      margin-bottom: #{$spacer / 2};
    }
  }
  
  @media #{$screen-sm} {
    padding-bottom: #{$spacer * 2};
    
    .content {
      margin-top: #{$spacer * 2};
    }
    
    .row {
      > div {
        margin-bottom: 0;
      }
    }
  }
  
  @media #{$screen-md} {
    min-height: 350px;
    padding: 30px 15px;
    
    h1 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.5em;
    }
  }

  @media #{$screen-lg} {
    h1 {
      font-size: 4em;
    }
  }
}