@mixin resetList() {
  list-style: none;
  padding-left: 0;
}

@mixin centerIconText() {
  display: table-row;
  > i,
  > span {
    display: table-cell;
    vertical-align: middle;
  }
}

@mixin smallIcon() {
  font-size: 120%;
  padding-right: 3px;
}

@mixin mediumIcon($padding) {
  font-size: 150%;
  padding-right: $padding;
}

@mixin largeIcon() {
  font-size: 250%;
  padding-right: 10px;
}

@mixin drawTriangleFlag($size, $color) {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 0, 0, 0);
    border-top-color: $color;
    border-width: $size;
    left: 50%;
    margin-left: -$size;
}
