@import "variables";

.partners,
.team {
  img {
      margin: 0 auto;
      margin-bottom: 0.5em;
      max-height: 200px;
      max-width: 200px;
    }
}
  
.member {
  text-align: center;
  margin-bottom: #{$spacer};
}