@import "variables";

.partners,
.team {
  .member,
  .partner {
    text-align: center;
    margin-bottom: #{$spacer};
  }
  
  img {
      margin: 0 auto;
      margin-bottom: 0.5em;
      max-height: 200px;
      max-width: 200px;
    }
  
  .partner {
    height: 207px;
    img { line-height: 207px; }
  }
}