$hackFont: "larabiefont", sans-serif;
$highlightColor: orangered;
$sectionHeaderColor: #193857;
$sectionHeaderMarginBottom: 1.3em;
$triangleSize: 12px;
$white: #fff;
$gray: #eee;
$darkgray: #333;
$screen-md: "screen and (min-width: 768px)";
