$spacer: 16px;
$sectionSpacer: #{$spacer * 1.5 };
$bodyFont: "myriad-pro";
$hackFont: "larabiefont", sans-serif;
$highlightColor: orangered;
$sectionHeaderColor: #193857;
$triangleSize: 12px;
$white: #fff;
$gray: #eee;
$darkgray: #54585b;
$screen-md: "screen and (min-width: 768px)";
