$spacer: 16px;
$hackFont: "larabiefont", sans-serif;
$highlightColor: orangered;
$sectionHeaderColor: #193857;
$sectionHeaderMarginBottom: $spacer * 1.5;
$triangleSize: 12px;
$white: #fff;
$gray: #eee;
$darkgray: #333;
$screen-md: "screen and (min-width: 768px)";
