<table class="table table-striped">
  <caption>Day 1: Friday, June 5</caption>
  <tbody>
    <tr>
      <td>18:00 to 19:00</td>
      <td>
        <p>Sign-In, mingle with other hackers</p>
      </td>
    </tr>
    <tr>
      <td>19:00 to 19:30</td>
      <td><p>Introductory Speeches</p></td>
    </tr>
    <tr>
      <td>19:30 to 20:15</td>
      <td><p>SME Panel Discussion</p></td>
    </tr>
    <tr>
      <td>20:15 to 20:30</td>
      <td><p>Break</p></td>
    </tr>
    <tr>
      <td>20:15 to 20:30</td>
      <td><p>Break-out Activity</p></td>
    </tr>
  </tbody>
</table>