<table class="table table-striped">
  <caption>Day 2: Saturday, June 6</caption>
  <tbody>
    <tr>
      <td>09:00</td>
      <td><p>Venue open, breafast served</p></td>
    </tr>
    <tr>
      <td>11:00 to 13:00</td>
      <td><p>SME Office Hours</p></td>
    </tr>
    <tr>
      <td>13:00</td>
      <td><p>Lunch served</p></td>
    </tr>
    <tr>
      <td>18:00</td>
      <td><p>Dinner served</p></td>
    </tr>
    <tr>
      <td>22:00</td>
      <td><p>Venue closes</p></td>
    </tr>
  </tbody>
</table>