<table class="table table-striped">
  <caption>Day 3: Sunday, June 7</caption>
  <tbody>
    <tr>
      <td>09:00</td>
      <td><p>Venue open, breafast served</p></td>
    </tr>
    <tr>
      <td>12:30</td>
      <td><p>Lunch served</p></td>
    </tr>
    <tr>
      <td>15:00</td>
      <td><p>Pencils Down!</p></td>
    </tr>
    <tr>
      <td>15:30 to 17:00</td>
      <td><p>Presentations</p></td>
    </tr>
    <tr>
      <td>17:00 to 18:00</td>
      <td><p>Judges deliberation, Winners named</p></td>
    </tr>
  </tbody>
</table>