<div class="row">
  {% for day in site.data.agenda %}
  <div class="col-md-4">
    <table class="table table-striped">
      <caption><i class="fa fa-calendar"></i> {{ day.date | date: "%A, %B %-d" }}</caption>
      <tbody>
        {% for item in day.items %}
        <tr>
          <td>{{ item.start }} {% if item.end %}to {{ item.end }}{% endif %}</td>
          <td>
            <p>{{ item.what }}</p>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>
