<h3>Where?</h3>
<address class="sr-only">
  Santa Monica Public Library
  <br />
  601 Santa Monica Blvd
  <br />
  Santa Monica, CA 90401
</address>
<p>The Santa Monica Public Library is served directly by <a href="http://www.bigbluebus.com" target="_blank">Big Blus Bus</a> lines 7 and 10, and stops on Big Blue Bus lines 1, 2, 3, 8, and 9 are only a short walk away.</p>
<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3307.0911724291336!2d-118.49480512170301!3d34.015870604448594!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdda2829bcd4b123a!2sSanta+Monica+Public+Library!5e0!3m2!1sen!2sus!4v1430844764242" height="400" width="100%" frameborder="0" style="border:0"></iframe>
