<h3><i class="fa fa-lightbulb-o"></i> Why?</h3>
<p class="lead">We're a small sized city with big city challenges. Come play in our sandbox.</p>
<p>Santa Monica is only 8 square miles. Solve mobility here, where it's easy. Then scale up and take on the world!</p>
<p>The City of Santa Monica has an <a href="https://github.com/CityofSantaMonica" target="_blank">active presence on GitHub</a>. There's always something for interns to hack on, and summer is fast approaching.</p>
<p>The City of Santa Monica has released over 50 <a href="https://data.smgov.net/browse" target="_blank">datasets and visualizations</a>, all backed by RESTful APIs, most of which are updated regularly (and <em>automatically</em>).</p>
