<div class="row">
  <div class="col-md-12 text-left">
    <p class="lead">The Contest is a collaboration between the City of Santa Monica, the Santa Monica Chamber of Commerce, and several of our tech-sector <a href="/partners">partners</a>. We work with bright minds from Generaly Assembly, Cross Campus, HackerFund and others in the community to create an environment of learning, sharing, and problem solving.</p>
    <p>What is it not? A hackathon. <em>Please</em> don’t call it a hackathon.</p>
    <p>It’s not that we don’t like or believe in hackathons, but that’s not what the contest is all about. The spirit of the contest is to bring people together with their City government over an extended period of time (think many months, not a day or two) to create lasting solutions. </p>
    <hr />
    <h3><a href="{{ site.baseurl }}/contest/2015-2016">Our First Iteration: 2016</a></h3>
    <p>A lasting solution to a real problem is exactly what was delivered in 2016.</p>
    <p>We received over 30 applications, whittled the list down to 8 finalists, and ultimately named 1 winner as our inaugural contest concluded: <a href="https://citygro.ws" target="_blank">CityGrows</a>.</p>
    <p>CityGrows provided a simple solution to a long-standing government process issue – they helped the City convert complex paper-based processes into simple web forms and workflows. CityGrows worked tirelessly with their City mentor, refining and improving their product, in the months leading up to final judging.</p>
    <p>And they didn’t go away after the 2016 Contest ended. CityGrows continued to build upon their product, in the process earning City contracts to add in features like electronic payments and surveys to continuously improve the process they helped digitize. Their product worked so well that they were given contracts to digitize other City processes. In addition to earning multiple contracts with the City of Santa Monica to continue their work, CityGrows was provided with learning credits from General Assembly, workspaces and mentoring from ExpertDojo and CrossCampus, and they got to appear before thousands of people on stage at the Twilight Concert Series.</p>
  </div>
</div>
