<div class="row">
  <div class="col-md-12 text-center">
    <p>
    <h2>Hack the Beach: The Contest 2017 is Now Live</h2>
    <p>Hack the Beach 2017 is not a one-off hack-a-thon. It’s an opportunity to get in on the ground floor and contribute solutions that have real impact on the world around you. It’s also an opportunity to be part of a unique, emerging partnership between business, government, and people that we hope will evolve into a thriving community of problem solvers and invested citizens.</p>\
    <h3>The Design Challenges</h3>
    <p>We invite you to submit solutions that meet one or more of the below design challenges. Applications accepted from July 6, 2017 to September 4, 2017. The contest will run through the end of 2017. </p> 
    <h4>Design Challenge: Building Community</h4>
    <p>How might we use technology to encourage residents connect with each other in a very real, genuine, neighbor-to-neighbor way? </p>
    <h4>Design Challenge: A Responsive Government</h4>
    <p>What are ways to cultivate a trustworthy and participatory local government through equitable, transparent, and effective processes? </p>
    <h4>Design Challenge: Health</h4>
    <p>How might we use technology to make it easier to empower residents to access these public resources to take charge of improving their health?</p>    
    <h4>Design Challenge: Place and Planet</h4>
    <p>How might we use technology to  make it easier to get around town in an environmentally-friendly way? </p>
    <h4>Design Challenge: Learning</h4>
    <p>How might we use technology to champion lifelong education achievements and opportunities for continuous personal growth?</p>
    <h4>Design Challenge: Economic Opportunity</h4>
    <p>How might we use technology to support community needs through a stable, vibrant and diverse local economy?</p>
  </div>
</div>
<hr />
