<h3>The Judges</h3>
<div class="row">
  {% for judge in site.data.judging.judges %}
  <div class="judge col-md-{{ 12 | divided_by:forloop.length }}">
    <span class="headshot">{% if judge.headshot %}<img src="{{ judge.headshot }}" alt="{{ judge.name }} headshot" class="img-rounded"/>{% else %}<i class="fa fa-user"></i>{% endif %}</span>
    <span class="name">{{ judge.name }}, {{ judge.title }}</span>
  </div>
  {% endfor %}
</div>

<p class="">Teams will have an opportunity (up to 15 minutes each) to pitch their product towards the end of Day 3. Judges will evaluate each product based on the following:</p>

<div class="row criteria">
  {% for criteria in site.data.judging.criteria %}
  <div class="col-md-{{ 12 | divided_by:forloop.length }}">
    <h4><i class="fa {{ criteria.icon }}"></i> {{ criteria.name }}</h4>
    <p>{{ criteria.description }}</p>
  </div>
  {% endfor %}
</div>
