<h1>Ready to Take Your City to the Next Level?</h1>

<p>Much more than a hackathon, Hack the Beach: The Contest allows anyone in the community to submit proposals for apps, ideas, processes, and/or technology to help Santa Monica improve our sense of Community, Mobility, and Civic Engagement.</p>

<div class="clearfix">
  <p class="pull-left">
  {% include templates/button.html text="I WILL PITCH MY IDEA" href="https://docs.google.com/forms/d/15qw4VtITc6QUp3ECztea2P3sXlMf3BEuiZkh836lyGU/viewform" target="_blank" icon="circle-arrow-right" %}
  </p>
  <p class="pull-right">
  {% include templates/button.html text="I JUST WANT TO ATTEND" href="https://www.eventbrite.com/e/hack-the-beach-the-contest-pitch-night-tickets-18457123754" target="_blank" icon="circle-arrow-right" %}
  </p>
</div>
