<h1>Ready to Take Your City to the Next Level?</h1>

<p>Much more than a hackathon, Hack the Beach: The Contest allows anyone in the community to submit proposals for apps, ideas, processes, and/or technology to help Santa Monica improve our sense of Community, Mobility, and Civic Engagement.</p>
<p>Hack the Beach: The Contest will run from October 2015 to January 2016. Prizes will be awarded for the best ideas; including bringing you and your entire team out on stage at the 2016 Twilight Concert Series, loads of PR, mentorship and coaching from local accelerators, and more.</p>

<div class="row">
  <div class="col-sm-6">
  {% include templates/button.html text="I WILL PITCH MY IDEA" href="https://docs.google.com/forms/d/15qw4VtITc6QUp3ECztea2P3sXlMf3BEuiZkh836lyGU/viewform" target="_blank" icon="circle-arrow-right" %}
  </div>
  <div class="col-sm-6">
  {% include templates/button.html text="I JUST WANT TO ATTEND" href="https://www.eventbrite.com/e/hack-the-beach-the-contest-pitch-night-tickets-18457123754" target="_blank" icon="circle-arrow-right" %}
  </div>
</div>
