<h1>Ready to Take Your City to the Next Level?</h1>

<p>Join us at the <a href="http://cloudimpactconference.com/" target="_blank">Cloud Impact Conference</a> on October 9th, 2015 for a full day of networking and ideation with City staff, tech industry leaders, and business development gurus.</p>

<p>In the evening, you will have an opporunity to pitch your game-changing idea to our panel of community leaders. The most <em>ambitious</em>, <em>practical</em> and <em>impactful</em> projects will be invited to continue into the implementation phase.</p>

<div class="clearfix">
  <p class="pull-left">
  {% include templates/button.html text="I WILL PITCH MY IDEA" href="https://docs.google.com/forms/d/15qw4VtITc6QUp3ECztea2P3sXlMf3BEuiZkh836lyGU/viewform" target="_blank" icon="circle-arrow-right" %}
  </p>
  <p class="pull-right">
  {% include templates/button.html text="I JUST WANT TO ATTEND" href="#" target="_blank" icon="circle-arrow-right" %}
  </p>
</div>