<h2>What is The Contest?</h2>
<p>Hack the Beach: The Contest is an open invitation to anyone in Santa Monica’s incredible tech community to pitch an initiative to improve our city in one of three distinct areas: Community, Mobility, and Civic Engagement. The Contest is open to anyone who works or lives in Santa Monica.
</p>

<h2>What Should I Submit?</h2>
<ul>
  <li>All submissions must somehow incorporate technology. Your submission definitely does not need to be an app or a software product, but it should somehow be related to technology.</li>
  <li>All submissions must incorporate one or more of our three defined topic areas (Community, Mobility, and Civic Engagement.)</li>
  <li>All submissions must add some sort of value and be viable to implement (it can’t just be a cool idea without any practicality.)</li>
</ul>

<p><em>Here are some ideas to get your creative juices flowing:</em></p>

<h3>Community</h3>
<ul>
  <li>Create a search platform for subsidized housing in our region.</li>
  <li>Connect Santa Monicans to services available in their neighborhoods, like job training, homeless services, senior services, day care, local schools, etc.</li>
  <li>Present an exciting new way for Santa Monicans to access housing or social services!</li>
</ul>

<h3>Mobility</h3>
<ul>
  <li>Build a technology that allows local workers to connect and carpool with other workers who live near them.</li>
  <li>Develop a tool to alert Santa Monicans when peak hour traffic along their commute route reaches a level they prefer.</li>
  <li>Present an exciting new strategy that makes it easier for residents and visitors to get out of their cars and use bikes, buses, or their feet!</li>
</ul>

<h3>Civic Engagement</h3>
<ul>
  <li>Create an interactive City Council Agenda that incites community participation, and allows the public to comment on agenda items by video, share those videos with their neighbors, and upvote videos they like.</li>
  <li>Build tools that make it easier for Santa Monican’s to connect with each other and their government.</li>
  <li>Present an exciting new way to engage our citizens in the public process! </li>
</ul>

<h2>What is the Timeline?</h2>
<p>The contest will have several phases during which we will whittle down the number of active applications.</p>

<h3>Phase I - Quick Applications</h3>
<p>Anyone interested may submit the basics – your team name, your project idea, your contact info, and a brief blurb about how your project aims to impact Community, Mobility, and/or Civic 
Engagement in Santa Monica.
</p>
<p>Timeline: <em>Now through October 6</em>.</p>

<h3>Phase II - Detailed Applications</h3>
<p>We will review each and every application to ensure that the basic rules of value, viability, and adherence to our three strategic areas of Community, Mobility, and/or Civic Engagement. Those teams who match the listed criteria will be invited to submit a more detailed plan (i.e. a presentation deck or business plan outlining the project’s impact.)
</p>
<p>Timeline: <em>October 6 through November 3</em>.</p>

<h3>Phase III - Build</h3>
<p>Take the next several months to build upon your awesome idea, product, or plan. You will have regular opportunities to meet with City of Santa Monica staff to help guide your development.</p>
<p>Timeline: <em>November 3 to Early 2016</em>.</p>

<h3>Phase IV - Final Presentation</h3>
<p>Your product is now ready for the spotlight! Showcase what you’ve got in front of our panel of judges, and may the best project win!</p>
<p>Timeline: <em>TBD</em>.</p>

<h3>Phase V - Bask in the Glory</h3>
<p>You, residents, visitors, employees, employers, commuters and everyone else will enjoy the fruits of your labor. Take it in, enjoy, and revel in knowing <em>you</em> did this.</p>
<p>Timeline: <em>Permanently</em>.</p>


<h2>Why are We Doing This?</h2>
<p>We are a large, diverse community with a complex series of needs. We feel that by working together, we can all better understand, and better serve the community. Our leadership team consists of great minds from several of Santa Monica’s top private businesses; we are passionate about making an impact and leading change; won’t you answer the call and join us in building something great?</p>

<h2>What’s in it For Me?</h2>
<p>You mean aside from having an impact on your community? Well, we have some prizes if you’re into that sort of thing.</p>
<ul>
  <li>Stand in front of 20,000+ concert goers at the world famous Santa Monica Pier during the Twilight Concert Series as you are recognized for your work.</li>
  <li>Meet with top City officials to discuss your product, and to learn more about your City.</li>
  <li>More to come!</li>
</ul>
