<h3>Submissions</h3>
<ul>
  <li>All work must be done in a publicly accessible <a href="https://github.com" target="_blank">GitHub</a> repository.</li>
  <li>All submitted work should be licensed as open source as defined by the either the <a href="http://choosealicense.com/licenses/mit/" target="_blank">MIT License</a> or the GNU GPL (<a href="http://choosealicense.com/licenses/gpl-2.0/" target="_blank">v2</a> or <a href="http://choosealicense.com/licenses/gpl-3.0/" target="_blank">v3</a>)</li>
</ul>
