<h3>Submissions</h3>

<div class="row">
  <div class="col-md-6">
    <p><i class="submissions fa fa-github-square"></i> Submissions must be in the form of a publicly accessible <a href="https://github.com" target="_blank">GitHub</a> repository.</p>
  </div>
  <div class="col-md-6">
    <p><i class="submissions fa fa-code-fork"></i> Submissions should be licensed as open source, as defined by the either the <a href="http://choosealicense.com/licenses/mit/" target="_blank">MIT License</a> or the GNU GPL (<a href="http://choosealicense.com/licenses/gpl-2.0/" target="_blank">v2</a> or <a href="http://choosealicense.com/licenses/gpl-3.0/" target="_blank">v3</a>)</p>
  </div>
</div>
