<div class="row">
  {% for event in site.data.events %}
  <div class="col-md-4">
    <h2>{{ event.name }}</h2>
    {{ event.description | markdownify }}
    <p><span>{{ event.date | date: '%b %d %Y' }}</span>
    {% if event.start or event.end %}
    <span>
      {{ event.start }}
      {% if event.start and event.end %}
      to {{ event.end }}
      {% elsif event.end %}
      {{ event.end }}
      {% endif %}
    </span>
    {% endif %}
    </p>
    {% if event.location %}
    <p>
      {% if event.location.url and event.location.name %}
      <a href="{{ event.location.url }}" target="_blank">{{ event.location.name }}</a>
      {% endif %}
      {% if event.location.map and event.location.address %}
      <br />
      <a href="{{ event.location.map }}" target="_blank">{{ event.location.address }}</a>
      {% endif %}
    </p>
    {% elsif event.signup == false %}
    <p>Location TBD</p>
    {% endif %}
    {% if event.signup %}
    <p>
      {% assign text = event.signup_text %}
      {% unless text %}{% assign text = "REGISTER NOW" %}{% endunless %}
      {% include templates/button.html text=text href=event.signup target="_blank" class="btn-default btn-sm" %}
    </p>
    {% endif %}
  </div>
  {% endfor %}
</div>
