<h1>Hey Santa Monica, It's Time to Innovate</h1>

<p>Are you one of Santa Monica’s best developers? Are you passionate about your community? Would you like to solve problems relevant both to Santa Monica and to cities everywhere?</p>

<p><a href="/innovate-santa-monica/">Innovate SM</a> is your chance to go behind the scenes with the experts at City Hall to develop marketable, working tools that will have powerful impacts in Santa Monica and beyond. This year’s challenge categories are: Community, Mobility, and Civic Engagement.
</p>

<p class="clearfix">
  <a class="btn btn-default btn-lg pull-right" href="{{ site.baseurl }}/innovate-santa-monica">REGISTER NOW <span class="fi fi-fw fi-circle-arrow-right"></span></a>
</p>