<h1>Santa Monica 2.0, Initializing <img src="{{ site.baseurl }}/assets/loading-cylon.svg" alt="..." class="loading"></h1>

<p>Are you a Silicon Beach rockstar? Are you passionate about your community? Would you like to develop innovative solutions that are relevant both to Santa Monica and cities everywhere?</p>

<p><a href="{{ site.baseurl }}/bootstrap-santa-monica/">Bootstrap SM</a> is your chance to go behind the scenes with the experts at City Hall to collaborate on the next generation of local government. We have broad goals to achieve in the areas of <em>community</em>, <em>mobility</em>, and <em>civic engagement</em>. Will you join us?
</p>

<div class="clearfix">
  <p class="pull-right">
    {% include templates/button.html text="REGISTER NOW" href="/partners/" target="_blank" icon="circle-arrow-right" %}
  </p>
</div>
