<div class="row">
  <div class="col-md-4">
    <h2>{% include templates/icon.html icon="lab" %} What</h2>
    <p><strong>{% include htb.html %}</strong> is a series of micro-festivals bringing together Santa Monica's best tech innovators with local civic leaders.</p>
    <p>Hack the Beach: The Contest is an annual challenge allowing anyone in the community to submit proposals for apps, ideas, processes, and/or technology to help Santa Monica improve our sense of Community, Mobility, and Civic Engagement.</p>
  </div>
  <div class="col-md-4">
    <h2>{% include templates/icon.html icon="bulb" %} Why</h2>
    <p>We want to work together to explore the big issues facing our community and discuss ways that technology can transform Santa Monica.</p>
  </div>
  <div class="col-md-4">
    <h2>{% include templates/icon.html icon="users" %} Who</h2>
    <p><strong>{% include htb.html %}</strong> is a community, a collaboration of minds and makers, led by an <a href="{{ site.baseurl }}/partners">intrepid team of partners</a>.</p>
  </div>
</div>
