<div class="row">
  <div class="col-md-4">
    <h2><i class="fi fi-lab"></i> What</h2>
    <p><strong class="hack">{Hack the Beach}</strong> is a series of micro-festivals bringing together Santa Monica's best tech innovators with local civic leaders.</p>
  </div>
  <div class="col-md-4">
    <h2><i class="fi fi-bulb"></i> Why</h2>
    <p>We explore the big issues facing our community and discuss ways that technology can transform Santa Monica.</p>
  </div>
  <div class="col-md-4">
    <h2><i class="fi fi-users"></i> Who</h2>
    <p><strong class="hack">{Hack the Beach}</strong> is a community, a collaboration of minds and makers, led by an <a href="{{ site.baseurl }}/partners">intrepid team of partners</a>.</p>
  </div>
</div>
